body{
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-image:linear-gradient(to top, #011e23, transparent), url('../img/nature_bg.jpg');
    background-repeat: no-repeat;
    background-position: 0% 60%;
}

.main-content{
    flex-grow: 1;
}

#foot-element{
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    border-top: 1px solid #888888;
    margin-top: 16px;
    padding: 16px 0;
}

#head-element{
    font-family: 'Montserrat', sans-serif;
    margin-top: 16px;
    margin-bottom: 48px;
    letter-spacing: 4px;
    color: #011e23;
    text-shadow: 2px 4px 4px rgba(0,0,0,0.3);
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-right: 16px;
    text-decoration: none;
}

#portrait{
    width: 250px;
    isolation: isolate;
    border-radius: 25%;
}

div p{
    font-size: 16px;
    display: flex;
    align-items:center ;
    flex-direction: row;
    margin: 8px;
    font-family: 'Montserrat', sans-serif;
}
div p span {
    vertical-align: middle;
    display: inline-block;
    border-radius: 8px;
    margin-right: 8px;
    background-color: #888888;
    padding: 8px 8px;
    height: 20px;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
}
.sp {
    padding-top: 8px;
    text-align: center;
    height: 20px;
    width: 20px;
}

.input,
.submit {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 15px;
    -webkit-appearance: none;
}


.input {
    border: 1px solid lightgray;
    font-family: 'Montserrat', sans-serif;
    width: 410px;
    background-color: #efe4e4;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.5);
}
.input:focus {
    outline: none;
}

.submit {
    background-color: #ccc;
    letter-spacing: 2px;
    border: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.5);
    transition: transform 0.2s;
}
button:hover {
    transform: translateY(-2px);
}
button:active {
    transform: translateY(-1px);
}
button:focus{
    outline: none;
}

.main-content-result{
    position: relative;
    border: 1px solid transparent;
    border-radius: 30px;
    width: 548px;
    height: 350px;
    font-weight: bold;
    margin-top: 10%;
}
.main-content-box {
    margin-top: 20px;
}
.result-bar1 {
    height: 100%;
    background-color: #e3f0ff;
}
#message-b {
    margin-bottom: 0;
}

/* spinner */
.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    top: 10%;
    left: 40%;
    /* transform: translate(-50%, -50%); */
    margin: 72px auto;
    /* position: relative; */
    position: absolute;
    z-index: 100;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loader-div {
      height: 350px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgb(204, 204, 204);
      border-radius: 30px;
  }
  