body{
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-image:linear-gradient(to top, #011e23, transparent), url('../img/nature_bg.jpg');
    background-repeat: no-repeat;
    background-position: 0% 60%;
}

.main-content{
    flex-grow: 1;
}

#foot-element{
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    border-top: 1px solid #888888;
    margin-top: 16px;
    padding: 16px 0;
}

#head-element{
    font-family: 'Montserrat', sans-serif;
    margin-top: 16px;
    margin-bottom: 48px;
    letter-spacing: 4px;
    color: #011e23;
    text-shadow: 2px 4px 4px rgba(0,0,0,0.3);
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-right: 16px;
    text-decoration: none;
}

#portrait{
    width: 250px;
    isolation: isolate;
    border-radius: 25%;
}

div p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
div p span {
    display: inline-block;
    border-radius: 8px;
    margin-right: 8px;
    background-color: #888888;
    padding: 8px 8px;
    height: 20px;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
}
.sp {
    padding-top: 8px;
    text-align: center;
    height: 20px;
    width: 20px;
}

.input,
.submit {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 15px;
    -webkit-appearance: none;
}


.input {
    border: 1px solid lightgray;
    font-family: 'Montserrat', sans-serif;
    width: 410px;
    background-color: #efe4e4;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.5);
}
.input:focus {
    outline: none;
}

.submit {
    background-color: #ccc;
    letter-spacing: 2px;
    border: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.5);
    transition: transform 0.2s;
}
button:hover {
    transform: translateY(-2px);
}
button:active {
    transform: translateY(-1px);
}
button:focus{
    outline: none;
}

.main-content-result{
    border: 1px solid transparent;
    border-radius: 30px;
    width: 548px;
    font-weight: bold;
    margin-top: 10%;
}
.result-bar1 {
    background-color: #e3f0ff;
}